<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Bienvenue</h1>
        <p>la liste des points arrivent bientot en attendant vous pouvez allé sur <a href = '/gossips/new'>aller crée un nouveau potin </a> </p>
         <% gossips.each_with_index do |gossip , i|%>
            <p>
               <a href='gossip/<%= i + 1%>'><%= gossip.author%></a>
               </br>
                <%= gossip.content%>
            </p>
            <% end %>
    </body>
</html>