<html>
    <head>
        <title>Affichage de potin</title>
    </head>
    <body>
        <h1>PAGE POTIN</h1>
        Voici la page du potin n°<br/>
        Author :<%= gossip.author%><br/>
        le contenue du potin <%=gossip.content%>

        <a href='/gossip/new'>return</a>
        
    </body>
</html>